@use "layout/navbar";
@use "layout/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
