@use '../global.scss';
nav{
    .navbar{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: space-between;
            
            ul{
                display: flex;
                justify-content: space-around;
               li{
                list-style-type: none;
                img{
                    width: 20px;
                    height: 20px;
                }
               }
            }
        }
    }
}